<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  <appSettings>
    <add key="DefaultConnectionString" value="MySQLConnectionString" />
    <!--<add key="Personal" value="Provider=System.Data.Odbc;Driver={MySQL ODBC 3.51 Driver};Server=localhost;Database=helpfound;uid=root;pwd=;option=3"/>-->
    <!--START :: Email Message Body Path-->
    <!-- Start :: Email settings-->
    <!--<add key="host" value="relay-hosting.secureserver.net" />
    <add key="port" value="25"/>
    <add key="account" value="customercare@alm9.com"/>
    <add key="pswd" value=""/>
    <add key="FromDisplayName" value="Ehsaase-e-Insaniyat Trust"/>
    <add key="ToDisplayName" value="Me"/>
    <add key="fromEmail" value="arifsahara@gmail.com"/>-->
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="account" value="dz9international@gmail.com" />
    <add key="pswd" value="pass@word" />
    <add key="FromDisplayName" value="Ehsaase-e-Insaniyat Trust" />
    <add key="ToDisplayName" value="Me" />
    <add key="fromEmail" value="hr@helpfoundation.co" />
    <!-- End :: Email settings-->
    <!--Encryption/Decryption details -->
    <add key="passPhrase" value="Pas5pr@se" />
    <add key="saltValue" value="s@1tValue" />
    <add key="hashAlgorithm" value="SHA1" />
    <add key="passwordIterations" value="2" />
    <add key="initVector" value="@1B2c3D4e5F6g7H8" />
    <add key="keySize" value="256" />
  </appSettings>
  <connectionStrings>
    <!--<add name="MySQLConnectionString" connectionString="Driver={MySQL ODBC 3.51 Driver};server=localhost;uid=root;pwd=root;database=trustsite;option=3" providerName="System.Data.Odbc"/>-->
    <add name="MySQLConnectionString" connectionString="Server=localhost;Database=trustsite;User ID=root;Password=root;SslMode=none;AllowPublicKeyRetrieval=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.CompilerServices.Unsafe, Version=6.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Threading.Tasks.Extensions, Version=4.2.0.1, Culture=neutral, PublicKeyToken=CC7B13FFCD2DDD51" />
        <add assembly="MySql.Data, Version=9.2.0.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha " />
    </httpHandlers>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </httpModules>
    <httpRuntime executionTimeout="120" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" maxRequestLength="11000" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />

  </system.web>
  <rewriter>
    <rewrite url="~/CD-(.*)-(.*).aspx" to="~/category.aspx?cn=$1&amp;CatId=$2" />
    <rewrite url="~/ALS-(.*)-(.*).aspx" to="~/details.aspx?cn=$1&amp;Id=$2" />
    <rewrite url="~/PD-(.*)-(.*).aspx" to="~/PackageDetails.aspx?cn=$1&amp;Id=$2" />
    <rewrite url="~/AD-(.*)-(.*)-(.*)-(.*).aspx" to="~/adsdetails.aspx?Id=$2&amp;CatId=$3" />
    <rewrite url="~/ALL-(.*)-(.*).aspx" to="~/adslist.aspx?CatId=$2" />
    <rewrite url="~/searchdetails-(.*)-(.*).aspx" to="~/adsdetails.aspx?Id=$2" />
    <rewrite url="~/Ads-(.*)-(.*)-(.*)-(.*).aspx" to="~/adsdetails.aspx?Id=$2&amp;CatId=$3" />
  </rewriter>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>